.dashboard {
    display: flex;
    flex: 1;
    flex-direction: column;
    >div {
        flex:1;
        padding: 2px 0px 6px;
    }
    .plus-container {
        width: 100%;
        height: 100%;
        border: 3px dashed #999999;
        border-radius: 6px ;
        min-height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
    }
    .user-action {
        border-top: 3px dashed #99999944;
        display: block;
        flex: 10;
    }

    .item-list {
        &.product {
            border-top: 3px solid var(--bs-red);
        }

        &.crypto {
            border-top: 3px solid var(--bs-blue);
        }

        background-color: #686f8044;
        border-radius: 6px;
        padding: 4px 10px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: bottom;
        box-shadow: 4px 4px 4px #00000066;
        position: relative;
        
        
        
    }
}