.loading {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
     justify-content: center;
    
    &:before {
        
        content: ' ';
         width: 100%;
        height: 100%;
        background-color: black;
        opacity: .7;
    }

    >svg {
         position: absolute;
    }
}