.form-easy {

  &.one-line {
    white-space: nowrap;
    .field {
      display: inline-table;
      margin-right: 4px;
    }
  }

    padding: 0px 10px;
    position: relative;
  .waiting {
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    &::after {
        background-color: black;
        position: absolute;
        top:0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        content: ' ';
        opacity: 0.3;
    }
  }
  .button-container{
    border-top: 1px dashed #666;
    padding: 10px 0px 0px;
    text-align: center;
    .btn {
      min-width: 140px;
      margin: 0px 5px;
    }
  }
}