
.App {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  padding: 10px;

  
  .label {
    border-radius: 2px;
    padding: 8px 10px 10px;
    margin-bottom: 10px;
    &-error {
      background-color: #ffcece;
      color: red;
    }
  }

  input, textarea {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #b5b7bd !important;
    padding: 0px;
    background-color:  #424855;
  }

}
